body {
    text-align: center;
    font-family: sans-serif;
    background-image: radial-gradient(circle at center center, rgba(129, 164, 209,0.15) 0%, rgba(129, 164, 209,0.15) 42%,transparent 42%, transparent 100%),
    linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255)); background-size: 7px 7px;   
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #f77878;
    margin: 0;
}

.cell:hover {
    background-color: #f3c3b8;
}

table {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.clicked {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
    background-color: #ffa691;
    color: #da7006;
    font-weight: bold;
    font-size: 30px;
}

.safe {
    background-color: #ff002b;
}

.mine {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
    background-color: #ffae00;
}

.hint {
    background-color: #f3c3b8;
}

.box {
    margin: auto;
    border-radius: 25px;
    font-size: 50px;
    text-align: center;
    padding: 5px;
    width: 210px;
    background-color: #ffae00;
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px
}

.title {
    text-align: center;
    font-size: 50px;
    color: #ffa691;
    margin-bottom: 5px
}

.sweeper {
    color: #ff002b;
}


/* .message{
    margin-top:20px ;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #f77878;
} */

.icon {
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    background-color: #ffa691;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.icon:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


.btn {
    margin: 20px;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    width: 230px;
    background-color: #ffa691;
    color: #ff002b;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn:hover {
    background-color: #f3c3b8;
    cursor: pointer;
}

.btn-on {
    background-color: #f3c3b8;
    color: #ffae00;
}

.btn .bullets {
    color: #ffffff;
}

.bold{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
   
}

[type="radio"]{
    opacity:0;
}

[type="radio"] + label{
    position:relative;
    padding-left:30px;
    cursor:pointer;
    display:inline-block;
    line-height:25px;
}

[type="radio"] + label::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:18px;
    height:18px;
    border-radius: 100%;
    border:2px solid #ffae00;
    ;
    background:#fff;

}

[type="radio"]:checked + label::after{
    content:"";
    position:absolute;
    left:4px;
    top:4px;
    width:14px;
    height:14px;
    border-radius:100%;
    background:#ffae00;
    transform:scale(1);
    opacity:1;
    transition:all .3s ease;
}

[type="radio"]:not(:checked) + label::after{
    content:"";
    position:absolute;
    left:4px;
    top:4px;
    width:14px;
    height:14px;
    border-radius:100%;
    background:#fff;
    transform:scale(0);
    opacity:0;
}